version: "3.9"

services:
  db:
    image: postgres:15
    container_name: gong-call-coaching-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  liquibase:
    profiles:
      - tools
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gong-call-coaching-liquibase
    volumes:
      - ./api/liquibase:/liquibase/changelog
    environment:
      LIQUIBASE_COMMAND_URL: jdbc:postgresql://gong-call-coaching-db:5432/postgres
      LIQUIBASE_COMMAND_USERNAME: postgres
      LIQUIBASE_COMMAND_PASSWORD: postgres
      LIQUIBASE_COMMAND_CHANGELOG_FILE: master.xml
      LIQUIBASE_DRIVER: org.postgresql.Driver
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:

