version: "3.9"

services:
  liquibase:
    image: liquibase/liquibase:latest
    container_name: gong-call-coaching-liquibase
    working_dir: /liquibase/changelog
    volumes:
      - ../db:/liquibase/changelog
      - ../liquibase.properties:/liquibase/liquibase.properties
    environment:
      LIQUIBASE_COMMAND_URL: jdbc:postgresql://host.docker.internal:5432/app
      LIQUIBASE_COMMAND_USERNAME: postgres
      LIQUIBASE_COMMAND_PASSWORD: postgres
      LIQUIBASE_COMMAND_CHANGELOG_FILE: db/changelog/db.changelog-master.xml
    extra_hosts:
      - "host.docker.internal:host-gateway"

